# Fake News Detection Data Project
All news that we read from social media platforms are not real. A type of yellow journalism, fake news encapsulates pieces of news that may be hoaxes and is generally spread through social media and other online media platforms. This is often done to further or impose certain ideas and is often achieved with political agendas. Such news item may contain false and/or exaggerated claims, and may end up being viralized by algorithms, and users may end up in a filter bubble.

This Python project of detecting fake news deals with fake and real news. **Can we build a model to accurately classify a piece of news as REAL or FAKE?**

## The Dataset
The dataset to be used for this project is the 'news.csv' dataset from DataFlair website. This dataset has a shape of 7796 rows by 4 columns. The first column identifies the news, the second and third are the title and text respectively, and the fourth column has labels denoting whether the news is REAL or FAKE.

## Step 1: Getting the data ready for analysis

In [2]:
# import data analysis modules to work with
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# import data visualization modules to woek with
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

C:\Users\BEN KOLE\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# load the news.csv dataset and set it as a dataframe
news_df = pd.read_csv('news.csv')

In [4]:
# preview the first 5 records of the news dataframe
news_df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [5]:
news_df.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

Since the first column is an identification for each news, we shall rename the first column to 'news_id'.

In [6]:
# rename the first column to 'news_id'
news_df.rename({'Unnamed: 0':'news_id'},inplace=True, axis=1)

In [7]:
# preview the dataframe again with the new changes
news_df.head()

,news_id,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL